@media (max-width: 801px) {
    .wrapper{
        grid-template-columns: 1fr;
    }
}
@media (max-width: 480px) {
    .wrapper{
        grid-template-columns: 1fr;
    }
    .highschool{
        grid-template-columns: 1fr;
    }
    .skills{
        grid-template-columns: 1fr;

    }
    .skills ul{
        margin-bottom: 20px;
    }
}