@media (max-width: 801px) {
    .wrapper{
        grid-template-columns: 1fr;
    }
    .col{
        padding: 0 20%;
        padding-left: 23%;
    }

}
@media (max-width: 480px) {
    .wrapper{
        grid-template-columns: 1fr;
    }
    .highschool{
        grid-template-columns: 1fr;
    }
    .skills{
        grid-template-columns: 1fr;

    }
    .skills ul{
        margin-bottom: 20px;
    }

}